<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathForExport" value="d:\sebra\sebra.xlsx"/>
    <add key="SebraBlockId" value="26"/>
  </appSettings>

  <connectionStrings>
    <add name="DB" connectionString="Server=172.16.0.56\\MSSQLSERVER2017;Database=JusticePortal;Trusted_Connection=False;persist security info=True;user id=sa;password=@D1mitrov;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>