CREATE DATABASE [JusticePortal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JusticePortal', FILENAME = N'd:\data\MSSQL13.SQLEXPRESS\MSSQL\DATA\JusticePortal.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JusticePortal_log', FILENAME = N'd:\data\MSSQL13.SQLEXPRESS\MSSQL\DATA\JusticePortal_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [JusticePortal]
GO
USE [JusticePortal]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [JusticePortal] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
